@import '../../__data__/style/sizes.css';
@import '../../__data__/style/colors.css';
@import '../../__data__/style/media.css';

.wrapper {
    padding: var(--offset-sm) ;
    background: var(--gray-0);

    @media (--media-lg) {
        padding-left: var(--padding-left-rigth-lg);
        padding-right: var(--padding-left-rigth-lg);
        display: flex;
        flex-wrap: nowrap;
    }

    @media (--media-md) {
        padding-left: var(--padding-left-rigth-md);
        padding-right: var(--padding-left-rigth-md);
        display: flex;
        flex-wrap: nowrap;
    }

    @media (--media-sm) {
        padding-left: var(--padding-left-rigth-sm);
        padding-right: var(--padding-left-rigth-sm);
        display: block;
    }
}
