@import '../../__data__/style/sizes.css';
@import '../../__data__/style/colors.css';
@import '../../__data__/style/media.css';

.wrapper {
    display: flex;
    flex-wrap: wrap;

    background-color: var(--white);
    margin: var(--offset-xs);
    @media (--media-lg)  {
        padding-left: 200px;
        padding-right: 200px;
    }

    @media (--media-md) {
        padding-left: 100px;
        padding-right: 100px;
    }

    @media (--media-sm) {
        padding-left: 10px;
        padding-right: 10px;
    }
}
