@import '../../__data__/style/sizes.css';
@import '../../__data__/style/colors.css';

.wrapper {
    display: grid;
    grid-template-columns: 100px auto;
    grid-gap: 100px;
    border-bottom: var(--black) solid 1px;
    &:hover {
        opacity: 0.9;
    }
}
.label-name {
    padding-top: var(--offset-xs);
    padding-left: var(--offset-xs);
}

.label-value {
    padding-top: var(--offset-xs);
}
