@import '../../__data__/style/sizes.css';
@import '../../__data__/style/colors.css';

.wrapper {
    &:focus {
        outline-color: black;
    }

    &:hover {
        opacity: 0.5;
    }
}

.selector {
    top: 50%;
    padding: 5px;
    font-size: var(--font-size-md);
    margin-left: var(--offset-sm);
}
