@import '../../__data__/style/sizes.css';
@import '../../__data__/style/colors.css';

.main {
    border-top-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    background-color: var(--gray-1);
    margin: var(--offset-sm);
    &:hover {
      opacity: 0.9;
        box-shadow: 0 0 10px var(--shadow-color-black);
    }
}
.grid {
    display: grid;
}
.size {
    @media (--media-lg) {
        width: 225px;
        min-width: 225px;
        height: 400px;
        min-height: 400px;
        grid-template-rows: auto 80px;
    }

    @media (--media-md) {
        width: 200px;
        min-width: 200px;
        height: 375px;
        min-height: 375px;
        grid-template-rows: auto 70px;
    }

    @media (--media-sm) {
        width: 200px;
        min-width: 200px;
        height: 375px;
        min-height: 375px;
        grid-template-rows: auto 70px;
    }
}

.img {
    width: 100%;
    height: 100%;
    border-top-left-radius: var(--border-radius);
    object-fit: contain;
}

.description-label-container {
    width: 100%;
    padding: 10px;
}
.p {
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    padding: 0px;
    margin: 0px;
}
