@import '../../__data__/style/sizes.css';
@import '../../__data__/style/colors.css';

.wrapper {
    display: flex;
}

.search-field {
    width: 100%;
    flex-flow: row nowrap;
    background-color: var(--gray-1);
}

