@import '../../__data__/style/sizes.css';
@import '../../__data__/style/colors.css';

.main {
    border-radius: 3px;
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &:focus {
        outline-color: black;
    }

    &:hover {
        opacity: 0.5;
    }
    margin-left: var(--offset-xs);
}
.small {
    width: var(--button-sm);
    height: var(--button-sm);
    min-width: var(--button-sm);
    min-height: var(--button-sm);
}
.medium {
    width: var(--button-md);
    height: var(--button-md);
    min-width: var(--button-md);
    min-height: var(--button-md);
}
.large {
    width: var(--button-lg);
    height: var(--button-lg);
    min-width: var(--button-lg);
    min-height: var(--button-lg);
}

.search {
    background-image: url('icons/search.svg');
}
.filter-open {
    background-image: url('icons/filter-open.svg');
}
.filter-close {
    background-image: url('icons/filter-close.svg');
}
