@import '../../__data__/style/sizes.css';
@import '../../__data__/style/colors.css';
@import '../../__data__/style/media.css';

.wrapper {
    display: flex;
    background-color: var(--white);
    margin: var(--offset-sm);

    @media (--media-lg) {
        padding-left: var(--padding-left-rigth-lg);
        padding-right: var(--padding-left-rigth-lg);
    }

    @media (--media-md) {
        padding-left: var(--padding-left-rigth-md);
        padding-right: var(--padding-left-rigth-md);
    }

    @media (--media-sm) {
        padding-left: var(--padding-left-rigth-sm);
        padding-right: var(--padding-left-rigth-sm);
    }
}
.logo {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 4px;
    width: 45px;
    min-width: 45px;
    margin-right: 10px;
 }
.searchArea {
    max-width: 700px;
    flex: 1 100%;
    display: flex;
}
.search-input {

}

.filter-button {

}
