:root{
    --white-9: #f3f3f3;

    --black: #000000;
    --white: #FFFFFF;

    --gray-0: #d9d9d9;
    --gray-1: #c6c6c6;
    --gray-5: #c1c1c1;
    --gray-8: #b7b7b7;
    --gray-9: #696969;

    --red-2: #ffa5a5;
    --red-4: #ff6d6d;
    --red-7: #fa3333;

    --shadow-color-black: rgba(0,0,0,0.5);

    --descr-font-color: black;
}
