:root{
    --offset-lg:64px;
    --offset-md:48px;
    --offset-sm:24px;
    --offset-xs:12px;

    --button-sm:35px;
    --button-md:50px;
    --button-lg:65px;

    --border-radius: 10px;


    --padding-left-rigth-lg: 200px;
    --padding-left-rigth-md: 50px;
    --padding-left-rigth-sm: 10px;

    --font-size-sm: 15px;
    --font-size-md: 22px;
    --font-size-lg: 27px;

}
